<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/webjars/bootstrap/6.0.9-alpha3/dist/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/6.0.9-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="carousel.css">
    <link rel="stylesheet" href="CitaTe.css">

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="/webjars/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>


</head>
<body id="contenedor" class="container-fluid d-flex flex-column ">

<!--Cabecera con la imagen de Citate -->
<header class="d-flex flex-wrap align-items-center justify-content-center py-3 mb-4 border-bottom">

    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <div class="col-sm-12 col-md-4 text-center" >
            <img src="img/logoazul.png" alt="citatelogo" id="logocitate" width="140px">
        </div>
    </a>

    <!-- Menu Con "Login", "Registrate", "Idioma" y "Ayuda" -->
    <ul class="nav nav-pills col-12 col-md-4 text-center"  >
        <li class="nav-item"><a href="../perfil" class="nav-link active" aria-current="page" id="botonlogin1">Perfil</a></li>
        <li class="nav-item"><a href="#" class="nav-link active btn" aria-current="page" data-bs-toggle="modal" data-bs-target="#loginModal" id="botonlogin">Login</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="botonregister">Registrate</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="clienteempresa">
                <li><a class="dropdown-item btn botoncliente nolink" href="#" data-bs-toggle="modal" data-bs-target="#clienteModal">Cliente</a></li>
                <li><a class="dropdown-item btn botonempresa nolink" href="/registroEmpresa1" >Empresa</a></li>
            </ul>
        </li>
        <li class="nav-item"><a href="#" class="nav-link btn" id="botonayuda">Ayuda</a></li>
    </ul>
</header>

<!--Desplegablessssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->

<!--Desplegable modal login-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">LOGIN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="accesologin" class=" modal-body d-flex container flex-column justify-content-center "> <!-- LOGIN -->
                <img src="img/minilogoazul.png" class="col-2 ">

                <div>
                    <input type="radio" name="cliente" id="botonempresa" value="botonempresa" style="margin-top: -20px;" required />
                    <label for="botonempresa">Empresa</label>
                    <input type="radio" name="cliente" id="botoncliente" value="botoncliente" style="margin-top: -20px;" required />
                    <label for="botoncliente">Cliente</label> <br><br>
                </div>

                <input type="text" name="usuariologin" id="usuario" placeholder="Usuario" required/><br><br>
                <input type="password" name=" password" id="contraseñalogin" placeholder="Contraseña" required/><br><br>
                <a href="">¿Has olvidado tu contraseña?</a><br><br>
                <button onclick="startSignIn()">Logearse con Google</button>

            </div>
        </div>
    </div>
</div>

<!--Desplegable modal Cliente-->
<div class="modal fade" id="clienteModal" tabindex="-1" aria-labelledby="clienteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clienteModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="registrocliente">
                <h1>Register</h1>
                <input type="text" name="Nombre" id="nombre" placeholder="Nombre" size="20" required/> <br><br>
                <input type="text" name="email" id="email" placeholder="Correo electrónico" required><br><br>
                <input type="password" name="password" id="password" placeholder="Contraseña" required/> <br><br>
                <input type="password" name="repetirpassword" id="repetirpassword" placeholder="Repita la contraseña" required/><br><br>
                <div style="display: inline-flex;">
                    <input type="checkbox" name="Terminosdeuso" id ="terminosdeuso" value="terminosdeuso" required style="margin-top: -20px;"  />
                    <label for="terminosdeuso"> &nbspHe leído y estoy de acuerdo con los <b>Terminos de uso</b></label><br/><br>
                </div>
                <input type="submit" name="registrarse" value="Registrarse"/> <br><br>
                <button onclick="startSignIn()">Registrarse con Google</button>

            </div>
        </div>
    </div>

</div>

<!--Eslogannnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn-->
<main>
    <div class="row py-lg-5 border-bottom justify-content-center align-items-center " style="background-image: url('img/tijeras.jpg');" id="fotoytextop">
        <div class="col-lg-6 col-md-8 mx-auto" id="debajodelheader" >
            <h1 class="text-center">CitaTe</h1>
            <p class="lead text-body-secondary text-center">Citate es una aplicación de gestión de citas de peluquería</p>
        </div>
    </div>


    <!--Botooonnnnnnnnnnnnn Reserva servicioooooooooooooooooooosssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
    <div class="d-flex gap-2 justify-content-center py-5">
        <button class="btn btn-primary d-inline-flex align-items-center text" type="button"  id="reservaservicios">
            <b>Reserva servicios cerca de ti</b>
            <svg class="bi ms-1" width="0" height="20"><use xlink:href="#arrow-right-short"></use></svg>
        </button>

    </div>

    <!--Caroooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooousel-->

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <!--Indicadores de la parte inferior del carrusel y cada no de los sliders del carrousel-->
        <div class="carousel-indicators">

            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>

        </div>
        <!--Incluye todos los slides del carrousel-->
        <div class="carousel-inner row">
            <!--Primer slide-->
            <div class="carousel-item carousel-item-next carousel-item-start">
                <svg class="bd-placeholder-img" width="100%" height="100%" style="background-image: url('img/2.jpg');" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Example headline.</h1>
                        <p>Some representative placeholder content for the first slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <!--Segundo slide-->
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" style="background-image: url('img/3.jpg');" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Some representative placeholder content for the second slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <!--Tercer slide-->
            <div class="carousel-item active carousel-item-start">
                <svg class="bd-placeholder-img" width="100%" height="100%" style="background-image: url('img/1.jpeg');" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>One more for good measure.</h1>
                        <p>Some representative placeholder content for the third slide of this carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!--Control de la dirección de los slides-->
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</main>

<div th:replace="~{fragmentos/footer1 :: footer}"></div>

</body>
</html>