<!DOCTYPE html>
<div th:fragment="footer">

  <footer class="footer-07">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center"><br>
          <h2 class="footer-heading"><a href="#" class="logo">CitaTe</a></h2>
          <p class="menu">
            <a th:text="#{text.footer.home}" href="/"></a>
            <a th:text="#{text.footer.sobre}" href="#"></a>
            <a th:text="#{text.footer.privacidad}" href="#"></a>
            <a th:text="#{text.footer.contacto}" href="#"></a>
          </p>
          <div class="container">
            <ul class="ftco-footer-social p-0 d-flex justify-content-center">
              <li class="ftco-animate">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                  <span class="ion-logo-twitter"></span>
                  <img src="/img/twitter.png" alt="Twitter Logo" style="width: 30px; height: 30px;">
                </a>
              </li>
              <li class="ftco-animate">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <span class="ion-logo-facebook"></span>
                  <img src="/img/facebook.png" alt="Facebook Logo" style="width: 30px; height: 30px;">
                </a>
              </li>
              <li class="ftco-animate">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram">
                  <span class="ion-logo-instagram"></span>
                  <img src="/img/instagram.jpg" alt="Instagram Logo" style="width: 30px; height: 30px;">
                </a>
              </li>
            </ul>
          </div>


        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <p class="copyright">
            Copyright 2023 All rights reserved. CitaTe</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

</div>