<!DOCTYPE html>

<div th:fragment="header">

  <!--Cabecera con la imagen de Citate -->
  <header class="d-flex flex-wrap justify-content-center align-items-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <div class="col-sm-12 col-md-4 text-center" >
        <img class="p-3" src="/img/logoazul.png" alt="citatelogo" id="logocitate">
      </div>
    </a>

    <!-- Menu Con "Login", "Registrate", "Idioma" y "Ayuda" -->
    <ul class="nav nav-pills text-center" >
      <li  class="nav-item" sec:authorize="isAuthenticated()"><a th:text="#{text.header.perfil}" href="/perfil" class="nav-link active btn " ></a></li>
      <li  class="nav-item" sec:authorize="!isAuthenticated()"><a th:text="#{text.header.login}" href="#" class="nav-link active btn " aria-current="page"  data-bs-toggle="modal" data-bs-target="#loginModal" id="botonlogin"></a></li>
      <li class="nav-item dropdown" sec:authorize="!isAuthenticated()">
        <a th:text="#{text.header.registrate}" class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="botonregister"></a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="clienteempresa">
          <li  class="nolink"><a th:text="#{text.header.cliente}" class="dropdown-item btn" style="color: grey;" href="usuarios/create" ></a></li>
          <li  class="nolink"><a th:text="#{text.header.empresa}" class="dropdown-item btn" style="color: grey;" href="/registroEmpresa1" ></a></li>
        </ul>
      </li>

      <li class="nav-item mx-1" ><a  class="btn-dark" href="?lang=es_ES">ES</a></li>
      <li class="nav-item mx-1" ><a  class="btn-dark" href="?lang=en_US">EN</a></li>

      <li class="nav-item dropdown show">
        <a href="#" class="btn-dark dropdown-toggle" role="button" id="droptownidiomas" data-toggle="dropdown"> <span ></span></a>
      </li>







      <li class="nav-item"><a href="#" class="nav-link btn"  id="botonidioma">Idioma</a></li>
      <li  class="nav-item"><a th:text="#{text.header.ayuda}" href="#" class="nav-link btn"  id="botonayuda"></a></li>
    </ul>
  </header>
</div>



