<!DOCTYPE html>

<div th:fragment="headerregistroempresa">

  <header>
    <div class=" row d-flex justify-content-center">
      <img class="col-2 col-lg-1" src="/img/logoazul.png" alt="citatelogo" id="logocitate">

    </div>

    <div class="container">
      <ul class="nav nav-pills text-center">
        <li class="nav-item"><a href="/" class="nav-link active btn-dark btn-home">Home</a></li>
      </ul>
    </div>


    <div class="cabecera row container-fluid  d-flex  align-items-center cajitas btn">

      <a class="col-5 col-md-2 col-lg-2 nolink ">Funcionalidades</a>
      <a class="col-3 col-md-2 col-lg-2 nolink  ">Categorías</a>
      <a class="col-3 col-md-1 col-lg-2 nolink ">Precios</a>
      <a class="col-4 col-md-3 col-lg-2 nolink ">Preguntas frecuentes</a>
      <a class="col-5  col-md-3 col-lg-2 nolink ">Canal de empleo</a>
      <a class="col-1 col-md-1 col-lg-2 nolink ">Blog</a>


    </div>
  </header>
</div>