<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="usuarios" class="container">
  <h1>Todas las entidades</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Activo</th>
      <th>Empleado</th>
      <th>Cliente</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${entities}">
      <td th:text=${usuario.id}></td>
      <td th:text=${usuario.email}></td>
      <td th:text=${usuario.activo}></td>
      <td th:text=${usuario.empleado}></td>
      <td th:text=${usuario.cliente}></td>
      <td>
        <a th:href="@{/usuarios/{id}(id=${usuario.id})}" class="btn btn-primary">Editar</a>
        <a th:href="@{/usuarios/delete/{id}(id=${usuario.id})}" class="btn btn-danger">Eliminar</a>
      </td> <!-- Columna para los botones de edición y eliminación -->
    </tr>
    </tbody>
  </table>
  <a th:href="@{/usuarios/create}" class="btn btn-alert">Nuevo</a>
</div>
</body>
</html>