<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" th:href="@{/CitaTe.css}">

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
  <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>


</head>
<body>

<!--Header-->

<div th:replace="~{fragmentos/headerRegistroEmpresa :: header}"></div>

<!--Header-->
<div class="container">
  <div class="cajitas">

    <p>Se ha enviado un email a tu correo electronico accede al enlace para poder modificar la contraseña, si no has recibido el mensaje
    recuerda revisar tu carpeta de span</p>

    <br><br>

    <p>ATT. Equipo CitaTe</p>
  </div>
</div>

<!--Fooooterrrrr-->

<div th:replace="~{fragmentos/footer1 :: footer}"></div>

<!--Fooooterrrrr-->

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>