<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/CitaTe.css}">

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
  <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>


</head>

<body class="container">

<!--Header-->

<div th:replace="~{fragmentos/headerRegistroEmpresa :: header}"></div>

<!--Header-->

  <main> <!--Todo el main-->
    <section class="navegacion">
      <div class="progress" id="barradeprogreso">
        <div class="progress-bar" role="progressbar" style=" width: 40%; background-color: #76C893;"></div>
      </div>
     
      <div id="padding">
        
        <h2>HORARIO DE APERTURA</h2> <br>
        <div>
          <input type="checkbox" name="lunes" id="lunes">
          <label for="lunes">Lunes</label>
          <input type="time" name="comienzo" id="comienzo1">
          <input type="time" name="final" id="final1">
        </div><br>
        <div>
          <input type="checkbox" name="lunes" id="martes">
          <label for="martes">Martes</label>
          <input type="time" name="comienzo" id="comienzo2">
          <input type="time" name="final" id="final2">
        </div><br>
        <div>
          <input type="checkbox" name="lunes" id="miercoles">
          <label for="miercoles">Miercoles</label>
          <input type="time" name="comienzo" id="comienzo3">
          <input type="time" name="final" id="final3">
        </div><br>
        <div>
          <input type="checkbox" name="lunes" id="jueves">
          <label for="jueves">Jueves</label>
          <input type="time" name="comienzo" id="comienzo4">
          <input type="time" name="final" id="final4">
        </div><br>
        <div>
          <input type="checkbox" name="lunes" id="viernes">
          <label for="viernes">Viernes</label>
          <input type="time" name="comienzo" id="comienzo5">
          <input type="time" name="final" id="final5">
        </div><br>
        <div>
          <input type="checkbox" name="lunes" id="sabado">
          <label for="sabado">Sabado</label>
          <input type="time" name="comienzo" id="comienzo6">
          <input type="time" name="final" id="final6">
        </div><br>
        <div>
          <input type="checkbox" name="lunes" id="domingo">
          <label for="domingo">Domingo</label>
          <input type="time" name="comienzo" id="comienzo7">
          <input type="time" name="final" id="final7">
        </div><br>
      </div>
      <a href="registroEmpresa7" class="btn btn-primary" id="continuar">Continuar</a>

    </section>
  </main>
  </main><br><br>

  <!--Fooooterrrrr-->

  <div th:replace="~{fragmentos/footer1 :: footer}"></div>

  <!--Fooooterrrrr-->

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>