<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/CitaTe.css}">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

</head>
<body class="container">

<!--Header-->

<div th:replace="~{fragmentos/headerRegistroEmpresa :: header}"></div>

<!--Header-->

    <main>
        <section class="navegacion">
            
            <h2 >CONFIGURACIÓN COMPLETADA</h2><br>

            <div class="row  d-flex  justify-content-center"><img class="col-8" src="img/Logo1.jpeg" ></div>  
            <a href="/registroEmpresa11" class="btn btn-primary" id="continuar">Continuar</a>

        </section>
    </main>

           <!--Fooooterrrrr-->

           <div th:replace="~{fragmentos/footer1 :: footer}"></div>

           <!--Fooooterrrrr-->
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
